<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/app.css">
  <title>Not Found 404</title>
  <style>
    body{
      background-color: hsl(210, 7%, 17%);
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }
    main{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    h3{
      margin-bottom: 60px;
    }
    .error-title{
      margin-bottom: 40px;
    }

  </style>
</head>
<body>
  <main>
    <h3>AwesomeList</h3>
    <h1  class="error-title">Error 404 Not found</h1>
    <img src="https://media.giphy.com/media/Y0vgc5ghW8BatRMlCv/giphy.gif" alt="saaad">
  </main>
</body>
</html>