<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/index.css">
  <!-- link main global css file -->
  <link rel="stylesheet" href="../css/app.css">
  <title> | AwesomeList</title>
</head>
<body>
  <h3 style="width: 70%; margin: auto; text-align: center; margin-top: 50px;">Great project coming-soon by the backend alien Sam goher and the frontend artist Mohammed Sobhi</h3>

  <button class="logout-btn">logout</button>

  <script src="../js/requests.js"></script>
  <script src="../js/index.js"></script>
</body>
</html>