<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../public/css/login-register.css">
  <title> | AwesomeList</title>
</head>
<body>
  <main>
    <h1 class="title">
      Awesome List
    </h1>
    <p class="details">
      This is an open-source project developed for learning and practicing purposes. <br>
      Because we believe in lists and notes we decided to create our very own AwesomeList.
    </p>

    <h4>developed by:</h4>
    <div class="devs-container">
      <ul class="devs">
        <li class="dev">
          <img src="" alt="mohamed sobhi's avatar" class="dev-avatar">
          <p class="dev-name">
            Mohamed sobhi<br><span class="dev-title">Frontend</span>
          </p>
          <ul class="links">
            <li>
              github
            </li>
            <li>
              twitter
            </li>
          </ul>
        </li>

        <li class="dev">
          <img src="" alt="Islam Goher's avatar" class="dev-avatar">
          <p class="dev-name">
            Islam Goher<br><span class="dev-title">Backend</span>
          </p>
          <ul class="links">
            <li>
              github
            </li>
            <li>
              twitter
            </li>
          </ul>
        </li>
      </ul>
    </div>

    <a href="#about">About</a>

  </main>

  <div class="forms-container">

    <form method="post" class="login">
      <section>
          <h2>Login</h2>
          <p>
            <label for="username">
              <span>Username: </span>
              <strong><abbr title="required">*</abbr></strong>
            </label>
            <input type="text" id="username" name="username">
          </p>
          <p>
            <label for="pwd">
              <span>Password: </span>
              <strong><abbr title="required">*</abbr></strong>
            </label>
            <input type="password" id="pwd" name="password">
          </p>
      </section>
      <section>
          <p> <button type="submit">Sign-in</button> </p>
      </section>
    </form>

    <hr>
    <p>or join now</p>

    <form method="post" class="register">
      <section>
          <h2>Register</h2>
          <p>
            <label for="username">
              <span>Username: </span>
              <strong><abbr title="required">*</abbr></strong>
            </label>
            <input type="text" id="username" name="username">
          </p>
          <p>
            <label for="mail">
              <span>E-mail: </span>
              <strong><abbr title="required">*</abbr></strong>
            </label>
            <input type="email" id="mail" name="mail">
          </p>
          <p>
            <label for="pwd">
              <span>Password: </span>
              <strong><abbr title="required">*</abbr></strong>
            </label>
            <input type="password" id="pwd" name="password">
          </p>
      </section>
      <section>
          <p> <button type="submit">Join</button> </p>
      </section>
    </form>
    
  </div>


  <script src="../public/js/login-register.js"></script>
</body>
</html>