<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- links css file -->
  <link rel="stylesheet" href="../css/login-register.css">
  <!-- link main global css file -->
  <link rel="stylesheet" href="../css/app.css">
  <!-- link font-awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
  <title> | AwesomeList</title>
</head>
<body>
<div class="container">
  <!-- main which contains the title and data -->
  <main>
    <!-- main data -->
    <h1 class="title">
      Awesome List
    </h1>
    <p class="details">
      This is an open-source project developed for learning and practicing purposes. <br>
      Because we believe in lists and notes we decided to create our very own AwesomeList.
    </p>
    <!-- ---------- -->
    <!-- developers data -->
    <h3>developed by:</h3>
    <div class="devs-container">
      <ul class="devs">
        <!-- sobhi -->
        <li class="dev">
          <img src="https://avatars.githubusercontent.com/u/63759344?s=460&u=f088cc4695ac2b21a180466e805c0c1ad4b8c891&v=4" alt="mohamed sobhi's avatar" class="dev-avatar">
          <p class="dev-name">
            Mohamed sobhi
          </p>
          <span class="dev-title">Frontend</span>
          <ul class="links">
            <li>
              <a href="#"><i class="fab fa-github"></i></a>
            </li>
            <li>
              <a><i class="fab fa-twitter"></i></a>
            </li>
          </ul>
        </li>
        <!-- ------- -->
        <!-- islam -->
        <li class="dev">
          <img src="https://avatars.githubusercontent.com/u/61825588?s=400&u=f61250daf49eefda3e33625ecaba1b3d76ad402c&v=4" alt="Islam Goher's avatar" class="dev-avatar">
          <p class="dev-name">
            Islam Goher
          </p>
          <span class="dev-title">Backend</span>
          <ul class="links">
            <li>
              <a href="#"><i class="fab fa-github"></i></a>
            </li>
            <li>
              <a><i class="fab fa-twitter"></i></a>
            </li>
          </ul>
        </li>
        <!-- ------ -->
      </ul>
    </div>
    <!-- ---------------- -->
    <a href="#about" class="secondary-btn">About</a>
  </main>
  <!-- ----------------- -->

  <!-- forms container (login-register) -->
  <div class="forms-container" id="formContainer">
    <div class="form-container sign-up-container">
      <form method="post" class="register">
        <h3 class="dark-text">Create Account</h3>
        <div class="social-container">
          <a href="#" class="social dark-text"><i class="fab fa-facebook-f"></i></a>
          <a href="#" class="social dark-text"><i class="fab fa-google"></i></a>
        </div>
        <span class="small-text">or use your email</span>
        <input type="text" name="name" placeholder="Name" required/>
        <input type="email" name="email" placeholder="Email" required/>
        <input type="password" name="password" placeholder="Password" minlength="8" required/>
        <button type="submit" class="signup-btn" id="signupBtn">Sign Up</button>
        <p class="signup-error">*</p>
      </form>
    </div>
    <div class="form-container sign-in-container">
      <form action="#">
        <h3 class="dark-text">Sign in</h3>
        <div class="social-container">
          <a href="#" class="social dark-text"><i class="fab fa-facebook-f"></i></a>
          <a href="#" class="social dark-text"><i class="fab fa-google"></i></a>
        </div>
        <span class="small-text">or use your account</span>
        <input type="email" placeholder="Email" />
        <input type="password" placeholder="Password" />
        <a href="#" class='dark-text small-text'>Forgot your password?</a>
        <button type="submit">Sign In</button>
      </form>
    </div>
    <div class="overlay-container">
      <div class="overlay">
        <div class="overlay-panel overlay-top">
          <h2>Welcome Back!</h2>
          <p>To keep connected with us please login with your personal info</p>
          <button class="ghost" id="signIn">Sign In</button>
        </div>
        <div class="overlay-panel overlay-bottom">
          <h2>Hello, Friend!</h2>
          <p>Enter your personal details and start journey with us</p>
          <button class="ghost" id="signUp">Sign Up</button>
        </div>
      </div>
    </div>
  </div>
  <!-- --------------- -->

</div>
  <script src="../js/requests.js"></script>
  <script src="../js/login-register.js"></script>
</body>
</html>