body {
  background-color: hsl(210, 7%, 17%);
}

.container {
  display: flex;
  justify-content: center;
  width: 90%;
  margin: auto;
  margin-top: 5%;
}

@media only screen and (max-width: 750px) {
  .container {
    flex-wrap: wrap;
    gap: 50px;
  }
}

main {
  max-width: 600px;
  width: auto;
  margin: 0 20px;
}

.details {
  margin-bottom: 20px;
}

.devs {
  display: flex;
  margin: 20px 0 40px 0;
  gap: 30px;
}

.dev,
li {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dev-avatar {
  width: 50px;
  border-radius: 50%;
  border: 1px solid;
  margin-bottom: 10px;
  padding: 3px;
}

.links {
  margin-top: 10px;
  display: flex;
  gap: 15px;
}

.secondary-btn {
  margin-left: 3px;
}

.forms-container {
  background-color: hsl(222, 11%, 24%);
  min-width: 300px;
  max-width: 400px;
  margin: 0 20px;
  border-radius: 9px;
  height: 500px;
}

.login {
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.register {
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* 

## Colors

### Primary

- Bright Blue: hsl(220, 98%, 61%)
- Check Background: linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%)

### Neutral

### Light Theme

- Very Light Gray: hsl(0, 0%, 98%)
- Very Light Grayish Blue: hsl(236, 33%, 92%)
- Light Grayish Blue: hsl(233, 11%, 84%)
- Dark Grayish Blue: hsl(236, 9%, 61%)
- Very Dark Grayish Blue: hsl(235, 19%, 35%)

### Dark Theme

- Very Dark Blue: hsl(235, 21%, 11%)
- Very Dark Desaturated Blue: hsl(235, 24%, 19%)
- Light Grayish Blue: hsl(234, 39%, 85%)
- Light Grayish Blue (hover): hsl(236, 33%, 92%)
- Dark Grayish Blue: hsl(234, 11%, 52%)
- Very Dark Grayish Blue: hsl(233, 14%, 35%)
- Very Dark Grayish Blue: hsl(237, 14%, 26%)


*/
